<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"

xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{plantilla/plantilla}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title th:text="${setting.nameSistema} + ' | Asistencia'"></title>

<link rel="shortcut icon" th:href="@{/fltask/img/{image} (image=${setting.iconoSistema})}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/themes/assets/plugins/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/themes/assets/plugins/feather/feather.css}">
<link rel="stylesheet" th:href="@{/themes/assets/plugins/icons/flags/flags.css}">
<link rel="stylesheet" th:href="@{/themes/assets/plugins/fontawesome/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/themes/assets/plugins/fontawesome/css/all.min.css}">
<link rel="stylesheet" th:href="@{/themes/assets/plugins/datatables/datatables.min.css}">
<link rel="stylesheet" th:href="@{/themes/assets/css/style.css}">

</head>

<body>
	<div layout:fragment="content" >
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-sub-header">
						<h3 class="page-title">Registrar Asistencia</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Asistencia</a></li>
							<li class="breadcrumb-item active"><a th:href="@{addasistencia}">All Asistencia</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		

		<div class="row">
			<div class="col-sm-12">
				<div class="card card-table comman-shadow">
					<div class="card-body">
						<div class="page-header">							
							<div class="row">
								<div class="col-md-6">
									<div class="form-group local-forms">
										<label>Docente <span class="login-danger">*</span></label>
										<select class="form-control" id="cbodocente" onchange="buscarDatosDocente();">
											<option value="">---: SELECCIONE :---</option>
											<option th:each="itemdocente : ${lstdocente}"
											 	th:value="${itemdocente.idPersonal}"
											 	th:text="${itemdocente.nombre} + ' ' + ${itemdocente.apellidos}">		 		
											</option>
										</select>
									</div>
								</div>
								<input type="hidden" th:value="${valid.leer}" id="token_vw">
								<input type="hidden" th:value="${valid.crear}" id="token_cr">
								<div class="col-md-6">
									<div class="form-group local-forms">
										<label>Cursos <span class="login-danger">*</span></label>
										<select class="form-control" id="cbocurso" onchange="">
											<option value="">---: SELECCIONE :---</option>										
										</select>
									</div>
								</div>								
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group local-forms">
										<label>Nivel <span class="login-danger">*</span></label>
										<select class="form-control" id="nivelEscolar" onchange="onBusarGradoNivel();">
											<option value="">---: SELECCIONE :---</option>
											<option value="PRIMARIA">PRIMARIA</option>
											<option value="SECUNDARIA">SECUNDARIA</option>
										</select>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group local-forms">
										<label>Grado <span class="login-danger">*</span></label>
										<select class="form-control" id="cboidGrado" onchange="">
											<option value="">---: SELECCIONE :---</option>
										</select>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group local-forms">
										<label>Seccion <span class="login-danger">*</span></label>
										<select class="form-control" id="cboSeccion" onchange="">
											<option value="">---: SELECCIONE :---</option>
										</select>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group local-forms">
										<label>Fecha <span class="login-danger">*</span></label>
										<input type="date" placeholder="DD-MM-YYYY" id="dtpfecha" class="form-control">
									</div>
								</div>
								<div class="col-md-3" th:if="${valid.leer == 1}">
									<button  onclick="onBusarEstudiantes()" class="btn btn-primary" th:style="${setting.coloresButtons}"><i class="fa fa-users" aria-hidden="true"></i> Listar Estudiantes</button>
								</div>
							</div>
						</div>
						<div class="clear-fixed"></div>
						<div class="page-body">
							<div class="table-responsive">
								<table class="table border-0 star-student table-hover table-center mb-0 table-striped" id="__table_students__">
									<thead class="student-thread">
										<tr >				
											<th>ID</th>
											<th>NOMBRES Y APELLIDOS</th>
											<th>TURNO</th>
											<th>NIVEL</th>
											<th>GRADO</th>
											<th>SITUACION</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>

	</div>

	<script th:src="@{/themes/assets/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/themes/assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/themes/assets/js/feather.min.js}"></script>
	<script th:src="@{/themes/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/themes/assets/plugins/datatables/datatables.min.js}"></script>
	<script th:src="@{/themes/assets/plugins/moment/moment.min.js}"></script>
	<script th:src="@{/themes/assets/js/bootstrap-datetimepicker.min.js}"></script>
	<div layout:fragment="ajax_method">
		<script th:src="@{/ajax/apiAsistencia.js}"></script>
	</div>
</body>

</html>