<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{plantilla/plantilla}">

<head th:replace="~{/plantilla/plantilla :: head}">
  <title th:text="${setting.nameSistema} + ' | Perfil'"></title>

  <link rel="shortcut icon" th:href="@{/fltask/img/{image} (image=${setting.iconoSistema})}">


  <link rel="stylesheet" th:href="@{/themes/assets/plugins/bootstrap/css/bootstrap.min.css}">

  <link rel="stylesheet" th:href="@{/themes/assets/plugins/feather/feather.css}">

  <link rel="stylesheet" th:href="@{/themes/assets/plugins/icons/flags/flags.css}">

  <link rel="stylesheet" th:href="@{/themes/assets/plugins/fontawesome/css/fontawesome.min.css}">
  <link rel="stylesheet" th:href="@{/themes/assets/plugins/fontawesome/css/all.min.css}">

  <link rel="stylesheet" th:href="@{/themes/assets/plugins/datatables/datatables.min.css}">


  <link rel="stylesheet" th:href="@{/themes/assets/css/style.css}">
</head>

<body>
  <div layout:fragment="content">

    <div class="page-header">
      <div class="row align-items-center">
        <div class="col-sm-12">
          <div class="page-sub-header">
            <h3 class="page-title">Editar Perfil</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/listaPerfiles}">Perfil</a></li>
              <li class="breadcrumb-item active">Editar Perfil</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card comman-shadow">
          <div class="card-body">
            <form th:action="@{/listaPerfiles/{idPerfil}(id=${nuevo.idPerfil})}" th:object="${nuevo}" method="post">
              <div class="row">
                <div class="col-12">
                  <h5 class="form-title student-info">Informacion Perfil <span><a href="javascript:;"><i
                          class="feather-more-vertical"></i></a></span></h5>
                </div>

                <div class="col-12 col-sm-4">
                  <div class="form-group local-forms">
                    <label>Nombre Perfil <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" th:value="${nombre}" id="txtNombrePerfil"
                      th:field="*{nombre}" placeholder="Ingrese Nombre" required autofocus="autofocus">
                  </div>
                </div>

                <div class="col-12 col-sm-4">
                  <div class="form-group local-forms">
                    <label>Estado <span class="login-danger">*</span></label>
                    <select class="form-control select" th:value="${estado}" id="txtEstado" th:field="*{estado}"
                      required autofocus="autofocus">
                      <option value="">Please Select Estado </option>
                      <option th:value="Activo">Activo</option>
                      <option th:value="Inactivo">Inactivo</option>
                    </select>
                  </div>
                </div>

                <div class="col-12 col-sm-4">
                  <div class="form-group local-forms calendar-icon">
                    <label>Cración Perfil <span class="login-danger">*</span></label>
                    <input class="form-control datetimepicker" type="text" th:value="${fechaCP}" id="txtFechaCP"
                      th:field="*{fechaCreacionPerfil}" placeholder="DD-MM-YYYY" readonly>
                  </div>
                </div>

                <input type="hidden" th:field="*{idPerfil}">
                <div class="col-12">
                  <div class="student-submit">
                    <button th:if="${valid.actualizar}" type="submit" class="btn btn-primary" th:style="${setting.coloresButtons}">Actualizar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/themes/assets/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/themes/assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/themes/assets/js/feather.min.js}"></script>
  <script th:src="@{/themes/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
  <script th:src="@{/themes/assets/plugins/datatables/datatables.min.js}"></script>

  <script th:src="@{/themes/assets/plugins/moment/moment.min.js}"></script>
  <script th:src="@{/themes/assets/js/bootstrap-datetimepicker.min.js}"></script>




</body>

<script>

  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#FiltrarUsuario tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

</html>