<div th:fragment="modalclavesadue">
	<div class="modal" id="mdlClavesadue">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Cambiar Clave</h5>
					
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					 <label>Nueva
						Clave:</label>
					<div class="input-group mb-3">
						<input type="password" id="txtsadunewclave" class="form-control"
							placeholder="new Password" autocomplete="off">				

					</div>
					<div id="divnewClavesadu" style="color:red;"></div>
	
					<label>Confirmar Clave:</label>
					<div class="input-group mb-3 has-error">
						<input type="password" id="txtsadurepitnewclave" class="form-control"
							placeholder="repit new Password" autocomplete="off">
						
					</div>
					<div id="divrepidnewClavesadu" style="color:red;"></div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-success"
						onclick="onUpdateClave();">Cambiar</button>
				</div>

			</div>
		</div>
	</div>
</div>