<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{plantilla/plantilla}">

<head>

    <title th:text="${setting.nameSistema} + ' | SubMenu'"></title>
    <link rel="shortcut icon" th:href="@{/themes/assets/img/favicon.png}">
</head>

<body>

    <div layout:fragment="content">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <div class="page-sub-header">
                        <h3 class="page-title">Registro Sub-Menu</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="students.html">Registro Sub-Menu</a></li>
                            <li class="breadcrumb-item active">Registro Sub-Menu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card comman-shadow">
                    <div class="card-body">

                        <form th:action="@{/submenu}" th:object="${nuevoSubMenu}" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title student-info">Registro Sub-Menu <span><a
                                                href="javascript:;"><i class="feather-more-vertical"></i></a></span>
                                    </h5>
                                </div>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Menu Padre<span class="login-danger">*</span></label>
                                        <select class="form-control select" th:name="fkPadre" required
                                            autofocus="autofocus">
                                            <option value="">Seleccione Menu Contenedor</option>
                                            <option th:each="menu: ${listaMenu}" th:value="${menu.idMenu}"
                                                th:text="${menu.nombre}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Nombre Sub-Menu <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" th:value="${nombreSubMenu}"
                                            id="txtnombreSubMenu" th:name="nombre" placeholder="Sub-Menu" required
                                            autofocus="autofocus" autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>URL <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" th:value="${nombreURL}"
                                            id="txtNombreURL" th:name="url" placeholder="Ingrese URL" required
                                            autofocus="autofocus" autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Orden <span class="login-danger">*</span></label>
                                        <input class="form-control" type="number" th:value="${nombreOrden}"
                                            id="txtNombreOrden" th:name="orden" placeholder="Orden #" required
                                            autofocus="autofocus">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Estado <span class="login-danger">*</span></label>
                                        <select class="form-control select2" th:value="${estado}" id="txtEstado"
                                            th:name="estado" required autofocus="autofocus">
                                            <option value="">Please Select Estado </option>
                                            <option th:value="Activo">Activo</option>
                                            <option th:value="Inactivo">Inactivo</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="student-submit">
                                        <button type="submit" class="btn btn-primary" th:style="${setting.coloresButtons}">Guardar</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>