<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title> Dashboard</title>

	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" th:href="@{/themes/assets/plugins/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/themes/assets/plugins/fontawesome/css/fontawesome.min.css}">
	<link rel="stylesheet" th:href="@{/themes/assets/plugins/fontawesome/css/all.min.css}">
	<link rel="stylesheet" th:href="@{/themes/assets/css/bootstrap-datetimepicker.min.css}">
	<link rel="stylesheet" th:href="@{/themes/assets/css/style.css}">
	<link rel="stylesheet" th:href="@{/themes/assets/plugins/feather/feather.css}">
	<link rel="stylesheet" th:href="@{/themes/assets/plugins/icons/flags/flags.css}">
	<link rel="stylesheet" th:href="@{/themes/assets/plugins/select/css/jquery.multiselect.css}">
	<link rel="stylesheet" th:href="@{/themes/assets/plugins/select/css/style.selected.css}">


</head>

</head>

<!--  
	<script type="text/javascript">
	function mostrar(){
	
	swal("Here's a message!","success","success")
	}
	</script>
 -->

<body>


	<div class="main-wrapper">

		<div class="header">

			<div class="header-left">
				<a th:href="@{/dashboard}" class="logo">
					<img th:src="@{/fltask/img/{image} (image=${setting.logoSistema})}" alt="Logo">
				</a>
				<a th:href="@{/dashboard}" class="logo logo-small">
					<img th:src="@{/fltask/img/{image} (image=${setting.iconoSistema})}" alt="Logo" width="30" height="30">
				</a>
			</div>
			<div class="menu-toggle">
				<a href="javascript:void(0);" id="toggle_btn" th:style="${setting.colorButtonMenu}">
					<i class="fas fa-bars"></i>
				</a>
			</div>

			<div class="top-nav-search">
				<form>
					<input type="text" class="form-control" placeholder="Search here">
					<button class="btn" type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>
			<a class="mobile_btn" id="mobile_btn">
				<i class="fas fa-bars"></i>
			</a>

			<ul class="nav user-menu">
				<li class="nav-item dropdown noti-dropdown language-drop me-2">
					<a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
						<img src="/themes/assets/img/icons/header-icon-01.svg" alt="">
					</a>
					<div class="dropdown-menu ">
						<div class="noti-content">
							<div>
								<a class="dropdown-item" href="javascript:;"><i
										class="flag flag-lr me-2"></i>English</a>
								<a class="dropdown-item" href="javascript:;"><i
										class="flag flag-bl me-2"></i>Francais</a>
								<a class="dropdown-item" href="javascript:;"><i class="flag flag-cn me-2"></i>Turkce</a>
							</div>
						</div>
					</div>
				</li>

				<li class="nav-item dropdown noti-dropdown me-2">
					<a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
						<img src="/themes/assets/img/icons/header-icon-05.svg" alt="">
					</a>
					<div class="dropdown-menu notifications">
						<div class="topnav-dropdown-header">
							<span class="notification-title">Notifications</span>
							<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
						</div>
						<div class="noti-content">
							<ul class="notification-list">
								<li class="notification-message">
									<a href="#">
										<div class="media d-flex">
											<span class="avatar avatar-sm flex-shrink-0">
												<img class="avatar-img rounded-circle" alt="User Image"
													src="/themes/assets/img/profiles/avatar-02.jpg">
											</span>
											<div class="media-body flex-grow-1">
												<p class="noti-details"><span class="noti-title">Carlson Tech</span> has
													approved <span class="noti-title">your estimate</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media d-flex">
											<span class="avatar avatar-sm flex-shrink-0">
												<img class="avatar-img rounded-circle" alt="User Image"
													src="/themes/assets/img/profiles/avatar-11.jpg">
											</span>
											<div class="media-body flex-grow-1">
												<p class="noti-details"><span class="noti-title">International Software
														Inc</span> has sent you a invoice in the amount of <span
														class="noti-title">$218</span></p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media d-flex">
											<span class="avatar avatar-sm flex-shrink-0">
												<img class="avatar-img rounded-circle" alt="User Image"
													src="/themes/assets/img/profiles/avatar-17.jpg">
											</span>
											<div class="media-body flex-grow-1">
												<p class="noti-details"><span class="noti-title">John Hendry</span> sent
													a cancellation request <span class="noti-title">Apple iPhone
														XR</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media d-flex">
											<span class="avatar avatar-sm flex-shrink-0">
												<img class="avatar-img rounded-circle" alt="User Image"
													src="/themes/assets/img/profiles/avatar-13.jpg">
											</span>
											<div class="media-body flex-grow-1">
												<p class="noti-details"><span class="noti-title">Mercury Software
														Inc</span> added a new product <span class="noti-title">Apple
														MacBook Pro</span></p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span>
												</p>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="topnav-dropdown-footer">
							<a href="#">View all Notifications</a>
						</div>
					</div>
				</li>

				<li class="nav-item zoom-screen me-2">
					<a href="#" class="nav-link header-nav-list win-maximize">
						<img src="/themes/assets/img/icons/header-icon-04.svg" alt="">
					</a>
				</li>

				<li class="nav-item dropdown has-arrow new-user-menus">
					<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
						<span class="user-img">
							<img class="rounded-circle" src="/themes/assets/img/profiles/avatar-01.jpg" width="31"
								alt="Soeng Souy">
							<div class="user-text">
								<h6 id="topusernameLogin" style="font-size: 11px;">loading....</h6>
								<p id="topcargoLogin" style="font-size: 10px;" class="text-muted mb-0">loading....</p>
							</div>
						</span>
					</a>
					<div class="dropdown-menu">
						<div class="user-header">
							<div class="avatar avatar-sm">
								<img src="/themes/assets/img/profiles/avatar-01.jpg" alt="User Image"
									class="avatar-img rounded-circle">
							</div>
							<div class="user-text">
								<h6 id="usernameLogin" style="font-size: 11px;">loading....</h6>
								<p id="cargoLogin" style="font-size: 10px;" class="text-muted mb-0">loading....</p>
							</div>
						</div>
						<a class="dropdown-item" href="#" onclick="openModal()">Cambiar Clave</a>
						<a class="dropdown-item" onclick="onCerrarSeccion()">Logout</a>
					</div>
				</li>

			</ul>

		</div>


		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul id="menuLogin">
						<li class="menu-title">
							<span>Main Menu</span>
						</li>


						<!-- **********MEMU DINAMICO_2************** -->
						<!-- <li class="menu" th:each="item1 : ${listaMenu}">

							<a href="#"><i th:class="${item1.icono}"></i> <span th:text="${item1.nombre}"> </span> <span
									class="menu-arrow"></span></a>
							<ul th:if="${item1.SubMenu}">

								<li th:each="subItem1 : ${item1.SubMenu}"><a th:href="${subItem1.url}"
										th:text="${subItem1.nombre}"></a></li>

							</ul>
						</li> -->
						<!-- ***********MEMU DINAMICO_2********** -->

						<!-- NATIVE QUERY MENU LOGIN PERFIL -->
						<li class="submenu" th:each="item1 : ${listaMenu}">

							<a href="#"><i th:class="${item1.icono}"></i> <span th:text="${item1.nombre}"> </span> <span
									class="menu-arrow"></span></a>
							<ul th:if="${item1.subMenu}">

								<li th:each="subItem1 : ${item1.SubMenu}"><a th:href="${subItem1.url}"
										th:text="${subItem1.nombre}"></a></li>

							</ul>
						</li>
						<!-- END NATIVE LOGIN  PERFIL -->

					</ul>
				</div>
			</div>
		</div>

		<div class="page-wrapper">
			<div class="content container-fluid">


				<!-- Content Wrapper. Contains page content -->
				<div class="content-wrapper">
					<section layout:fragment="content"></section>
				</div>

			</div>
		</div>
		<div th:insert="~{/modal/updatePassword :: modalclavesadue}"></div>




		<footer>
			<p>Copyright © 2022 Dreamguys._</p>
		</footer>

		<script th:src="@{/themes/assets/js/jquery-3.6.0.min.js}"></script>
		<script th:src="@{/themes/assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/themes/assets/js/feather.min.js}"></script>
		<script th:src="@{/themes/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
		<script th:src="@{/themes/assets/plugins/apexchart/apexcharts.min.js}"></script>
		<script th:src="@{/themes/assets/plugins/apexchart/chart-data.js}"></script>
		<script th:src="@{/themes/assets/plugins/datatables/datatables.min.js}"></script>
		<script th:src="@{/themes/assets/js/script.js}"></script>
		<script th:src="@{/themes/assets/plugins/sweetalert/sweetalert2.all.min.js}"></script>
		<script th:src="@{/themes/assets/plugins/sweetalert/sweetalerts.min.js}"></script>
		<script th:src="@{/themes/assets/plugins/moment/moment.min.js}"></script>
		<script th:src="@{/themes/assets/js/bootstrap-datetimepicker.min.js}"></script>
		<script th:src="@{/ajax/ApiGenerales.js}"></script>


		<div layout:fragment="ajax_method"></div>




		<script>
			$(document).ready(function () {
				$("#myInput").on("keyup", function () {
					var value = $(this).val().toLowerCase();
					$("#FiltrarUsuario tr").filter(function () {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
					});
				});
			});
		</script>

</html>