<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{plantilla/plantilla}">
<head>
  <title>Perfil Menu</title>
  
  
<link rel="shortcut icon" th:href="@{/themes/assets/img/favicon.png}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/themes/assets/plugins/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/themes/assets/plugins/feather/feather.css}">
<link rel="stylesheet" th:href="@{/themes/assets/plugins/icons/flags/flags.css}">
<link rel="stylesheet" th:href="@{/themes/assets/plugins/fontawesome/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/themes/assets/plugins/fontawesome/css/all.min.css}">
<link rel="stylesheet" th:href="@{/themes/assets/plugins/datatables/datatables.min.css}">
<link rel="stylesheet" th:href="@{/themes/assets/css/style.css}">

</head>
	
<body>
<div layout:fragment="content" >
<div class="page-header">
<div class="row">
<div class="col-sm-12">
<div class="page-sub-header">
<h3 class="page-title">Perfil Menu</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="students.html">Perfil Menu</a></li>
<li class="breadcrumb-item active">All Perfil Menu</li>
</ul>
</div>
</div>
</div>
</div>

<!-- <div class="student-group-form"> -->
<!-- <div class="row"> -->
<!-- <div class="col-lg-3 col-md-6"> -->
<!-- <div class="form-group"> -->
<!-- <input type="text" class="form-control" id="myInput" placeholder="BUSCAR ..."> -->
<!-- </div> -->
<!-- </div> -->

<!-- </div> -->
<!-- </div> -->
<div class="row">
<div class="col-sm-12">
<div class="card card-table comman-shadow">
<div class="card-body">

<div class="page-header">

<div class="row align-items-center">
<!-- <form th:action="@{/redirectSubMenu}" method="get"> -->
	<div class="col-md-4">	
		<div class="form-group local-forms">
			<label>Perfil<span class="login-danger">*</span></label>
			<select name="idperfil" id="idperfil" class="form-control select" >
				<option value="">Seleccione Perfil</option>
				<option th:each="perfil: ${listaPerfiles}" th:value="${perfil.idPerfil}" th:text="${perfil.nombre}"></option>
			</select>
		</div>	
	</div>
	<div class="col-md-4">	
		<div class="form-group local-forms">
			<label>Modulos<span class="login-danger">*</span></label>
			<select name="idmenu" id="idmenu" class="form-control select">
				<option value="">Seleccione Modulo</option>
				<option th:each="mnuprincipal: ${mnMain}" th:value="${mnuprincipal.idMenu}" th:text="${mnuprincipal.nombre}"></option>
			</select>
		</div>	
	</div>
	<div class="col-md-2 align-items-center" style="margin-top: -39px;">	
		<button onclick="onSendSubMenu()" class="btn btn-primary">Filtrar Datos</button>
	</div>
<!-- </form> -->	
</div>
</div>
<div class="clear-fixed"></div>
<div class="page-body" style="margin-top:-15px;">
	<div class="table-responsive">
	
		<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped" id="__table_perfil_menu__">
			<thead class="student-thread">
				<tr >
				
				<th>ID</th>
				<th>MENU</th>
				<th>ESTADO</th>
				</tr>
			</thead>
		<tbody >
		</tbody>
		</table>
	</div>
	
</div>

</div>
</div>
</div>
</div>
</div>

<script th:src="@{/themes/assets/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/themes/assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/themes/assets/js/feather.min.js}"></script>
<script th:src="@{/themes/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/themes/assets/plugins/datatables/datatables.min.js}"></script>
<!-- <script th:src="@{/themes/assets/plugins/select2/js/select2.min.js}"></script> -->
<script th:src="@{/themes/assets/plugins/moment/moment.min.js}"></script>
<script th:src="@{/themes/assets/js/bootstrap-datetimepicker.min.js}"></script>

<div layout:fragment="ajax_method"><script th:src="@{/ajax/perfilmenu.js}"></script></div>


</body>

</html>